**/.vs/
lab_1/RobotChallengeLab/*
**/obj/*
**/bin/*
**/Properties/*
*.csproj
*.sln
*.config
lab_5/out/
lab_6/out/
lab_2/ChangedEvent/.idea/
lab_3/LINQQuest/.idea/
lab_4/Classes/.idea/
lab_5/SerializationAndForms/.idea/
